node_modules/
.direnv/

.zed/
.playwright-mcp/
**/.claude/
**/.DS_Store

.env
test-results/
playwright-report/
scripts/openscad/*-render.scad
scripts/openscad/qrs/*.scad
scripts/openscad/qrs/*.stl
scripts/openscad/qrs/*.3mf
