/* Index page styles */

.hero {
  margin-bottom: 12px;
}

.hero p {
  color: #777;
  margin-top: 4px;
}

.amount-buttons {
  margin-bottom: 20px;
}

.amount-buttons input[type="radio"] {
  margin-right: 5px;
}

.amount-buttons label {
  margin-right: 8px;
  margin-bottom: 4px;
}

.custom-amount {
  margin-top: 16px;
  margin-bottom: 16px;
  display: none;
}

.custom-amount.visible {
  display: block;
}

#donate-now {
  margin-top: 16px;
}

.card p {
  color: #999;
  margin-bottom: 12px;
}
