/* Index page styles */

.amount-buttons {
  margin-bottom: 20px;
  border: none;
}

.amount-buttons input[type="radio"] {
  margin-right: 5px;
}

.amount-buttons label {
  margin-right: 15px;
}

.custom-amount {
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
}

.custom-amount.visible {
  display: block;
}

#donate-now {
  margin-top: 20px;
}
