/* Manage page styles */

.tier-options {
  border: 3px dashed #0a0;
  padding: 12px;
  margin-bottom: 16px;
}

.tier-card {
  display: block;
  margin-bottom: 6px;
}

.tier-content {
  display: inline;
}

.form-description {
  color: #777;
  margin-bottom: 12px;
}

.manage-header {
  margin-bottom: 16px;
}

.manage-header p {
  margin-top: 6px;
  color: #999;
}

.donation-tier-form {
  border: 3px dashed #0a0;
  padding: 16px 20px;
  margin-bottom: 12px;
}
